.boy-page {
  padding: 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  padding: 15px;
  border-radius: 5px;
  background: #fffbf2;
  position: relative;
}

.product-card a {
  text-decoration: none;
  color: #474e33;
}

.product-image {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  display: block;
}

.badge {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  background: #6b705c;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}

/* Anpassning för surfplattor (max 1024px) */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Anpassning för små surfplattor (max 768px) */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Anpassning för mobiltelefoner (max 480px) */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    width: 100%;
  }
}
